/* CSS to make elements inline */
.customCssClass {
    padding-right: inherit;
    padding-left: inherit;
    margin-top: auto;
}

.image-preview {
    text-align: left;
}

.image-preview img {
    max-width: 75px;
    max-height: 200px; /* Adjust as needed */
}